@import '../themes/theme-default';
@import '../themes/theme-orange';
@import '../themes/theme-purple';

$primary: var(--primary);
$secondary: var(--secondary);
$picture: var(--picture);
$buttonAnimation: var(--buttonAnimation);

.forgotpw {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    &__box {
        border-color: #f2f2f2;
        border-width: 2px;
        border-style: solid;
        margin: 30px;
        box-shadow: 15px 5px 30px rgb(0 0 0 / 30%);
    }

    &__picture {
        background-image: $picture;    
        background-position: center;
        background-size: cover;
        width: 800px;
        height: 220px;
        margin: 30px;
    }

    &__login {
        width: 800px;
        min-height: 400px;
        overflow: hidden;
        border-radius: 5px;
        background: #222;
        display: flex;
        margin: 30px;
    }

    &__loginform {
        flex-basis: 50%;
        background: #ffffff;
        font-family: roboto;
        padding: 25px;
    }

    h1 {
        margin-top: 25px;
        font-size: 1.3em;
        margin-bottom: 22px;
        color: #000000;
    }
    
    &__change-pw-headline {
        font-size: 1.3em;
    }

    &__btn {
        width: 82%;
        border: 0;
        background: $primary;
        color: #fff;
        padding: 8px;
        font-size: 18px;
        transition: all 0.3s;
        position: relative;
        margin-top: 2.3rem;

        &:hover {
            background: #ce4c28;
        }
        
        &:active {
            top: 4px;
        }
    }

    &__links  {
        display: flex;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #000000;
        font-size: 12px;
        margin-top: 10px;

        a {
            padding: 0 10px 0 10px;

            &:hover {
                color: #ce4c28;
            }
        }
    }

    &__line {
        width: 1px; 
        height: 15px; 
        background-color: #080808;
        vertical-align: baseline;
        margin-top: 10px;
    }

    &__aForg {
        margin-left: 88px;
    }

    &__content {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #ffffff;
        transition: 0.5s;
        padding: 25px;

        h1 {
            margin-top: 25px;
            font-size: 1.3em;
            margin-bottom: 22px;
            color: #000000;
        }
        
        p {
            margin: 12px 0;
        }

        &:hover div {
            transform: scale(1.05);
        }
    }
}
