.detailview {
    margin-bottom: 6rem;

    &__container {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
    }

    &__image {
        height: 400px;
        margin-top: 3rem;
        display: flex;
        margin-bottom: 3rem;
    }

    &__contentOne {
        width: 630px;
        height: 700px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-left: 1rem;
            margin: 0;
            border-radius: 5px;
        }
    }
    
    &__contentTwo {
        width: 181px;
        height: 703px;
        overflow: hidden;

        img {
            width: 160px;
            height: 225px;
            object-fit: cover;
            margin-left: 1rem;
            z-index: 2;
        }

        img:nth-child(1) {
            border-radius: 5px;
        }
        
        img:nth-child(2) {
            margin: 13px 0 13px 1rem;
            border-radius: 5px;
        }
        
        img:nth-child(3) {
            border-radius: 5px;
        }
        
        img {
            transition: transform 0.2s linear;
        }
        
        img:hover {
            transform: scale(1.05);
        }
    }
    
    &__mainContent {
        margin-left: 50px;
        width: 550px;
        margin-top: 18.8rem;
    }

    &__info {
        margin-bottom: 2.5rem;

        h1{
            margin-bottom: 0.5rem;
        }

        p {
            color: rgb(119, 119, 119);
        }

        h3 {
            margin-top: 2rem;
            font-size: 35px;
        }
    }

    &__dropdown {
        margin-bottom: 2rem;

        select{
            width: 330px;
            background-color: #efefef;
            border-radius: 0.3rem;
            border: none;
            height: 42px;
        }
    }

}

.btn-product-detail {
    background-color: #4178cd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    width: 354px;
    bottom: 72px;
    left: 10px;
    margin-top: 1rem;
}

.morePresent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 35rem;

    h1 {
        margin-left: 0.5rem;
    }

    &__card {
        max-height: 1458px;
    }

    &__images{
        display: flex;
        flex-wrap: wrap;
        height: 410px;
        width: 100%;
        border-radius: 7px;
    }
}
