/* ##### Standard ##### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ##### Navbar ##### */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px #cfd8dc;
  padding: 0.8rem 0;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: gray;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item:nth-child(5) {
    margin-right: 53rem;
}

.login-container {
    display: flex;
    align-items: center;
}

img {
    width: 70%;
    height: 70%;
}

.loginLogo {
    width: 50%;
    height: 50%;
}

.loginText {
    margin-left: 0.5rem;
}

.login-container a {
    font-size: 1.1rem;
    font-weight: bolder;
}

/* ##### Header ##### */
.header-container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.header-img {
    width: 100%;
    height: 800px;
    filter: brightness(65%);
    z-index: -1;
    position: absolute;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.header-h1 {
    position: relative;
    color: white;
    font-size: 6rem;
    text-shadow: 0 0 20px gray;
    margin-top: 35px;
}

.header-content-two {
    min-width: 70%;
    height: 150px;
    background-color: hsl(0deg 0% 99.14% / 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

h2 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.header-content-test {
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

input {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd8dc;
    padding: 0.5rem 0;
    width: 13.5rem;
}

.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: #272626;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  width: 200px;
  color: white;
}

.btn-primary:hover {
  background: #494949;
}

/* ##### Secitons ##### */
/* All Sections */
.section-one-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    height: 80rem;
    display: flex;
    flex-direction: row;
    align-items: unset;
}

.content-onee {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.5rem;
}

.content-twoo {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.content-onee-2 {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.content-twoo-2 {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.5rem;
}

.content-content-one {
    width: 689px;
}

.content-content-one h1 {
    margin-bottom: 1rem;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 25px 0 25px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one-container-background {
    background-color:hsl(0deg 0% 81.89% / 40%);
    width: 200%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container input {
    margin-right: 0.5rem;
}

.section-one-container input {
    margin-right: 0.5rem;
}

/* Room Section */
.room-product {
    width: 60%;
    height: 390px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px #131313;
    margin-top: 6rem;
    display: flex;
}

.productcard-side-one {
    width: 55%;
}

.room-product img {
    width: 100%;
    height: 100%;
}

.productcard-side-two {
    width: 45%;
}

.productcard-side-two-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.side-one {
    margin-right: 3rem;
}

.side-two {
    margin-left: 3rem;
}

.productcard-side-two-content span {
    display: flex;
    margin-bottom: 0.8rem;
}

.productcard-side-two-content i {
    margin-right: 0.5rem;
}

.room-product:last-child {
    margin-bottom: 6rem;
}

.btn-room-product {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #272626;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    width: 400px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn-room-product:hover {
    background: #494949;
}

/* RoomSection Detail */
.zimmerbuchungDetail {
    margin-top: 5rem;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zimmberbuchungImgGallery {
    width: 60%;
    height: 400px;
    margin-top: 3rem;
    display: flex;
    margin-bottom: 3rem;
}

.zimmberbuchungContent1 {
    width: 850px;
    height: 400px;
}

.zimmberbuchungContent1 img {
    width: 100%;
    height: 399px;
    object-fit: cover;
    margin-left: 1rem;
    margin: 0;
    border-radius: 20px 0 0 20px;
}

.zimmberbuchungContent2 {
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.zimmberbuchungContent2 img {
    width: 281px;
    height: 130px;
    object-fit: cover;
    margin-left: 1rem;
    z-index: 2;
}

.zimmberbuchungContent2 img:nth-child(1) {
    border-radius: 0 20px 0 0;
}

.zimmberbuchungContent2 img:nth-child(3) {
    border-radius: 0 0 20px 0;
}

.zimmberbuchungInfo2 p {
    color: rgb(119, 119, 119);
}

.zimmberbuchungContent2 img {
    transition: transform 0.2s linear;
}

.zimmberbuchungContent2 img:hover {
    transform: scale(1.05);
}

.zimmberbuchungInfo1 {
    width: 60%;
    margin-bottom: 0.8rem;
}

.zimmberbuchungInfo1 span:nth-child(1) {
    background-color: #e8f8f0;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 20%;
}

.zimmberbuchungInfo1 span:nth-child(3) {
    margin-left: 1rem;
}

.stars i {
    color: #fecd4d;
}

.share i {
    color: gray;
    float: right;
    font-size: 1.5rem;
}

.zimmberbuchungInfo1 span {
    color: #30e015;
    font-weight: bold;
}

.zimmberbuchungInfo2 {
    width: 60%;
    margin-bottom: 2.5rem;
}

.zimmberbuchungInfo2 h1{
    margin-bottom: 0.5rem;
}

.zimmberbuchungInfo2 h4{
    color: rgb(119, 119, 119);
    margin-bottom: 3rem;
}

.zimmerbuchungDetail h5{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.zimmberbuchungInfo3 {
    width: 60%;
    list-style: none;
}

.zimmberbuchungInfo3 li{
    display: inline-block;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: rgb(119, 119, 119);
}

.zimmberbuchungInfo3 span{
    margin-left: 0.6rem;
    color: rgb(119, 119, 119);
}

.booking-btn button {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #157dff;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    width: 190px;
    color: white;
    margin-top: 0.5em;
    width: 20%;
}

.booking-btn button:hover {
    background: #3d94ff;
}

.booking-btn {
    margin-top: 1.5rem;
    width: 60%;
    margin-bottom: 5rem;
}

/* Car Section */
.car-product-con {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.car-product {
    width: 20%;
    height: 504px;
    box-shadow: 0px 0px 10px #131313;
    margin-top: 6rem;
    margin: 30px;
}

.productcard-side-one-car {
    height: 55%;
}

.car-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productcard-side-two-car {
    height: 45%;
}

.h3Car {
    margin: 0;
    display: flex;
    font-size: 1.5rem;
    margin-top: 0.3em;
    text-align: left;
}

.productcard-side-two-content-car {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
}

.side-one-car {
    margin-right: 1rem;
}

.side-two-car {
    margin-left: 1rem;
}

.productcard-side-two-content-car span {
    display: flex;
}

.productcard-side-two-content-car i {
    margin-right: 0.5rem;
}

.car-product:last-child {
    margin-bottom: 6rem;
}

.btn-car-product {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #272626;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    width: 190px;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    text-align: center;
}

.btn-car-product:hover {
    background: #494949;
  }

/* Contact Section */
.form-container {
    width: 540px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container-contact {
    margin: 5rem;
}

.form-container-contact h1 {
    margin: 0.5rem;
}

.form-content {
    margin: 1.5rem 0 1.5rem 0;
}

.form-container-contact input {
    background-color: #dfdfdf;
    width: 18rem;
}

.form-container-contact .contact-checkbox {
    width: 1rem;
}

form {
    width: 600px;
    height: 400px;
}

.form-content button {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #272626;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    width: 100px;
    color: white;
}

/* ##### Login ##### */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 400px;
    background-color: black;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-content h1 {
    color: white;
}

.footer-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.footer-content a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
    color: white;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #ffffff;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#6b6b6b;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 13.5em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
   margin-right: 15px;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #272626;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #0ba9f1;
}

.selectDate {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    margin-right: 15px;
}

.reservation {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #157dff;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    width: 190px;
    color: white;
    margin-top: 0.5em;
    width: 20%;
    text-decoration: none;
    background-color: #1587fd;
    padding-right: 6.8rem;
    padding-left: 6.8rem;
}

.reservation:hover {
    background: #006df1;
}


/* ##### Footer ##### */
.section-footer {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-links a {
    list-style: none;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 128px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
  margin-right: 0.5rem;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.bxs-user:before {
    vertical-align: middle;
    margin-right: 0.2rem;
    font-size: 1.3rem;
}

.nav-item:nth-child(2) {
    margin-left: 53rem;
}



